.tree-form {
}

ion-item {
  height: 100%;
  width: 100%;
  align-items: center;
}

.description-input {
  height: 100px;
  width: 100%;
}

ion-row {
  align-items: center;
  text-align: center;
}

.cancel {
  height: 30px;
  width: 45%;
}
.add-tree {
  height: 30px;
  width: 45%;
}
